<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context   
		http://www.springframework.org/schema/context/spring-context.xsd">

    <!--真实连接工厂-->
    <bean id="tarConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.25.129:61616"></property>
    </bean>

    <!--spring管理mq连接工厂-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="tarConnectionFactory"></property>
    </bean>

    <!--spring提供tempalet-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"></property>
    </bean>

    <!--导入索引库，队列-->
    <bean id="queueSolrDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="pinyougou_queue_solr"></constructor-arg>
    </bean>

    <!--删除索引库，队列-->
    <bean id="queueSolrDeleteDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="pinyougou_queue_solr_delete"></constructor-arg>
    </bean>


    <!--生成静态网页，队列，订阅-->
    <bean id="topicPageDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="pinyougou_page_topic"></constructor-arg>
    </bean>

    <!--删除静态网页，队列，订阅-->
    <bean id="topicPageDelDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="pinyougou_page_topic_del"></constructor-arg>
    </bean>

</beans>